div {display: flex;
     flex-wrap: wrap;}
.first-column {flex-direction: column;
               justify-content: flex-start;}
.second-column {flex-direction: column;
                align-content: center;}
.third-column {flex-direction: column;
               align-content: flex-end;}
.header {text-align: center;
        font-family: 'Shadows Into Light Two', cursive;}
body {background-color: #F9EBEA;}
h1 {margin-top: 50px;}
h3 {margin-bottom: 50px;}

.a {width: 32.5%;
    height: 12%;
    margin: 5px;}
.b {width: 32.5%;
    height: 6%;
    margin: 5px;}
.c {width: 32.5%;
    height: 12%;
    margin: 5px;}
.d {width: 32.5%;
    height: 6%;
    margin: 5px;}
.e {width: 32.5%;
    height: 12%;
    margin: 5px;}

.f {width: 32.5%;
    height: 6%;
    margin: 5px;}
.g {width: 32.5%;
    height: 12%;
    margin: 5px;}
.h {width: 32.5%;
    height: 6%;
    margin: 5px;}
.i {width: 32.5%;
    height: 12%;
    margin: 5px;}
.j {width: 32.5%;
    height: 6%;
    margin: 5px;}

.k {width: 32.5%;
    height: 12%;
    margin: 5px;}
.l {width: 32.5%;
    height: 6%;
    margin: 5px;}
.m {width: 32.5%;
    height: 12%;
    margin: 5px;}
.n {width: 32.5%;
    height: 6%;
    margin: 5px;}
.o {width: 32.5%;
    height: 12%;
    margin: 5px;}
